[GENERAL]
DEBUG=
SECRET_KEY=
DJANGO_ALLOWED_HOSTS=
DJANGO_SETTINGS_MODULE=

[DATABASE]
SQL_ENGINE=
SQL_DATABASE=
SQL_USER=
SQL_PASSWORD=
SQL_HOST=
SQL_PORT=

[ADMIN]
DJANGO_SU_EMAIL=
DJANGO_SU_PASSWORD=
DJANGO_SU_USERNAME=
DJANGO_SU_FIRST_NAME=
DJANGO_SU_LAST_NAME=